<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VelosDb" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.199.56:1521/velosstg.montefiore.org;PASSWORD=createticket;PERSIST SECURITY INFO=True;USER ID=SBOUCHAR&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>